.header {
  background: var(--gray-700);
  padding-block: 5.125rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header strong {
  color: var(--blue);
  font-size: 2.5rem;
  margin-left: 0.75rem;
}

.header strong span {
  color: var(--purple-dark)
}